.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
filter: invert(100%);
}
img {
border:1px solid #e0e0e0;
}
.image-news-view{
height:360px;
width:1070px;
}
.font-link {
font-family: cursive;
color: white;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 7px #0000FF, 0 0 9px #0000FF,
			 0 0 3px #FF0000, 0 0 5px #0000FF, 0 0 7px #0000FF, 0 0 9px #0000FF;
}
table{ 
	text-align: center; 
}
.border_user{
  border-right: 2px solid black;
  outline-right: #4CAF50 solid 10px;
}
